.chip {
  margin-top: -5px;
}

.row {
  padding: 10px 0;
  border-bottom: 1px #b0b0b0 solid;
}

.main-list {
  padding: 20px 80px;
}
.main-grid {
  border: #eee solid;
  margin-top: 10px;
}

.main-row {
  padding: 25px 0;
}

.main-item {
  padding: 0 20px 0 0;
}