<!-- <div class="observerHeader">Observations</div> -->
<div>
  <ion-row>
    <ion-col size="11">
      <ion-segment (ionChange)="segmentChanged($event)" color="secondary" [value]="observationStatus" mode="ios" class="segmentFilter">
        <ion-segment-button value="All">
          <ion-label>All ({{countObject.All}})</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Open">
          <ion-label>Open ({{countObject.Open}})</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Inprogress" style="min-width: 115px;">
          <ion-label>In progress ({{countObject.Inprogress}})</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Closed">
          <ion-label>Closed ({{countObject.Closed}})</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="1" style="padding: 17px 0px 0px 0px;" (click)="isShowFilter=!isShowFilter">
      <ion-icon style="font-size: 29px;color:green;" name="funnel">
      </ion-icon>
      <ion-badge *ngIf="isShowFilter" color="danger">X</ion-badge>
    </ion-col>
   
  </ion-row>
  <ion-row *ngIf="isShowFilter">
    <ion-col>
      <ion-item class="main-item" mode="md">
        <ion-label position="floating">Project
        </ion-label>
        <ion-select mode="ios" placeholder="Filter project"  [(ngModel)]="filterObject.project">
          <ion-select-option [value]="f" *ngFor="let f of projectList">{{f}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="main-item" mode="md">
        <ion-label position="floating">From
        </ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" placeholder="From date"  [(ngModel)]="filterObject.fromDate"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="main-item" mode="md">
        <ion-label position="floating">To
        </ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" placeholder="To date" [(ngModel)]="filterObject.toDate" ></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item class="main-item" mode="md">
        <ion-label position="floating">Category
        </ion-label>
        <ion-select mode="ios" placeholder="Filter category"  [(ngModel)]="filterObject.category">
          <ion-select-option [value]="f" *ngFor="let f of categoryList">{{f}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="main-item" mode="md">
        <ion-label position="floating">Type of activity
        </ion-label>
        <ion-select  mode="ios"  placeholder="Filter activity"  [(ngModel)]="filterObject.activity">
          <ion-select-option [value]="s" *ngFor="let s of activityTypeList">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12" style="text-align: right;">
      <ion-button (click)="clearFilter()"  style="border:none;--color:#333;--background:#fff; color: #333!important;width:80px;border-radius: 10px;margin-left: 15px;">
        Clear 
      </ion-button>
      <ion-button (click)="getBasedOnStatus()"  style="--background:green;--color:#fff; color: #fff!important;width:80px;border-radius: 10px;">
        Filter 
      </ion-button>
    </ion-col>
  </ion-row>
</div>

<ion-content #content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshObservationList($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <div class="noObservation" *ngIf="!(filteredObservationStatus && filteredObservationStatus.length)">
     No observations found.
    <div style="text-align: center;">
      <ion-icon class="addIcon click" slot="icon-only" name="add-circle" (click)="addObservation()"></ion-icon>
    </div> 
     
  </div>
  <ion-card *ngFor="let item of filteredObservationStatus">
    <ion-item mode="md" [ngClass]="{'openClass': item.status === 'Open', 'inprogressClass' : item.status  === 'Inprogress', 'closeClass' : item.status  === 'Closed' }" class="openClass" (click)="item.isExpand=!item.isExpand" >
      <ion-icon style="margin-right: 7px;" *ngIf="!item.isExpand" name="caret-forward-outline" slot="start"></ion-icon>
      <ion-icon style="margin-right: 7px;" *ngIf="item.isExpand"   name="caret-down-outline" slot="start"></ion-icon>
      <ion-title class="ellipsis" style="margin-right: 0px;padding-left:2px;min-width: calc(100% - 100px);" slot="start">{{item.name}}</ion-title>
      <!-- <ion-text style="margin-left: 7px;" slot="end" class="assigneeName ellipsis">{{item.createdUser}}</ion-text> -->
      <ion-button style="margin-left: 7px;--background:green" slot="end" (click)="viewObservation(item , $event)">View</ion-button>
    </ion-item>
 
    <ion-card-content style="padding: 0px;"  *ngIf="item.isExpand">
      <ion-row class="main-row">
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Created User</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.createdUser}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Project Name</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.projectName}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Project Location</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.projectLocation}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Category</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.category}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Activity Type</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.typeOfActivity}}</ion-col>
          </ion-row>
        </ion-col>
        
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Action Owner</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.actionOwner}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Due Date</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.dueDate | date}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Status</ion-col>
            <ion-col size="12" class="fieldvalue"> {{item.status}}</ion-col>
          </ion-row>
        </ion-col>
      
        <ion-col size="12">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Description</ion-col>
            <ion-col size="12" class="fieldvalue"><p [innerHTML]="item.description"></p></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col class="fieldlabel" size="12">Agreed Action</ion-col>
            <ion-col size="12" class="fieldvalue"> <p  [innerHTML]="item.agreedAction"></p></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
     
    </ion-card-content>
  </ion-card>

</ion-content>

<div style="text-align:right" class="addDiv">
  <ion-icon class="addIcon click" slot="icon-only" name="add-circle" (click)="addObservation()"></ion-icon>
</div>