.main-grid {
  padding: 20px 20px 0;
}

.main-row {
  padding: 5px 0;
}

.chart-bar {
  padding: 0 25px;
}
.main-item {
  padding: 0px;
  height: 52px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.headerLabel{
  height: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.segmentFilter{
  height:45px;
  margin-top:4px;
}
ion-badge{
  position: absolute;
    top: 8px;
    right: 2px;
    opacity: 0.9;
    border-radius: 50%;
}